.container{
    display: grid;
    grid-template-columns:1fr 2fr;
}
.body{
    display: grid;
    grid-template-columns: auto;
    height: 50px;
}
.content{
    height: 100px;
    text-align: center;
}
.sub-content{
    display: grid;
    grid-template-columns: 4fr 4fr;
    grid-column-gap:250px;
    
}
.main{
    background-color: hotpink;
    text-align: center;
}
.img-content{
    background-color: blueviolet;
    text-align: center;
}
.extra-content{
    background-color: rgb(64, 202, 13);
    text-align: center;
    display: grid;
    grid-template-rows: 5fr 5fr;
}
.banner{
    display: grid;
    grid-template-columns: auto;
}